extends layout
block content
  .container
      .categories
        a.moree(href="/category/mi") MI
        a.moree(href="/category/samsung") SAMSUNG
        a.moree(href="/category/apple") APPLE
        a.moree(href="/category/all") BOSHQALAR
